<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/cv">CV</a></li>
				<li><a href="/resources">Resources</a></li>
				<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:gqg2@cornell.edu">email</a></li>
	        		<li><a href="https://github.com/ggenszler">github</a></li>
				<li><a href="https://www.linkedin.com/in/grace-genszler/">linkedin</a></li>
				</ul>
			</footer>
		</body>
	</html>
